<div>  {{chessService.numberOfMoves}} :מהלכים</div>
<div>({{chessService.squarePress.x}},{{chessService.squarePress.y}})</div>
<div class="board ">
    <div *ngFor="let col of chessService.board; let y = index" class="row">
        <!-- <div class="text-up">{{y+1}}</div> -->
        
        <div *ngFor="let row of col ; let x = index">
            <!-- <div *ngIf="y==0" class="text-right">{{x+1}}</div> -->
            <app-chess-square [y]="y" [x]="x" ></app-chess-square>
        </div>
    </div>
</div>
<div *ngIf="chessService.numberOfMoves % 2 == 0">  התור של הלבן</div>
<div *ngIf="chessService.numberOfMoves % 2 != 0">  התור של השחור</div>

