
.square{
    width: 5.6vw;
     height: 5.6vw;
     text-align:center;
     font-size: 15px;
}
.squareBlack{
    background-color: rgb(129, 126, 126);
     
}

.squareWhite{
    background-color: rgb(216, 213, 211);
     
}

.border-green{
    border: solid rgb(94, 153, 94) 0.3vw;
}
.border-red{
    border: solid red 7px;

}
.text{
    font-size: 0.8vw;
    position:absolute;
    margin-left: 0.5%;
}

.text1{
    font-size: 0.8vw;
    position:absolute;
    margin-left: 3.5vw;
    color: bisque;
    
}

.gameTools{
    font-size: 4vw;
}